<div class="row">
    <div class="col-lg-12">
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step" ng-repeat="title in stepTitles track by $index">
                    <a href="#" type="button"
                       ng-class="['btn', 'btn-circle', isSelected($index + 1) ? 'btn-primary' : 'btn-default']"
                       ng-disabled="!isSelected($index + 1)">{{$index + 1}}</a>

                    <p>{{title}}</p>
                </div>
            </div>
        </div>
    </div>
</div>